body {
    margin: 0;
    font-family: Georgia, sans-serif;
    background: linear-gradient(135deg, #3b1f0f, #662d05);
    color: white;
    text-align: center;
}

.header {
    padding: 0;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}