body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('coffee-2.png');
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
    margin: 0;
    height: 100vh;
    /* Ativa o Flexbox para centralizar tudo na tela */
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
}

/* Container criado para segurar a main e o botão juntos */
.container-central {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.226); /* Fundo leve opaco para dar leitura */
    padding: 300px;
    border-radius: 36px;
    backdrop-filter: blur(5px); /* Efeito de vidro fosco no fundo */
}

.apresentacao {
    color: rgb(3, 3, 3);
    font-size: 24px;
    margin-bottom: 20px;
}

.titulo {
    margin: 0 0 10px 0;
    font-size: 42px;
}

.subtitulo {
    font-size: 20px;
    margin: 0;
}

.btn-estilo {
    margin-top: 25px;
}

.btn-comecar {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(135deg, #83461b, #4e2f06);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.btn-comecar:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #4e2f06, #83461b);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}
